<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  {% seo %}
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
</head>


<style>
.header {background-color:#666666;width:100%;z-index:1000;position:fixed;height:70px}
.sidebar {margin-top:70px;width:15%;}
.content {padding-top:70px}
a {color: green;text-decoration: underline;}
h1 {clear: left;}
h2 {clear: left;}
h3 {clear: left;}
.imgLeft {float: left; width: 30%;}
.imgRight {float: right; width: 30%;}
.imgCenter {width: 100%;}
.imgTooltip {color: red}
.imgTooltip .imgTooltipContent {
    visibility: hidden;
    position:absolute;
    width: 40%;
    opacity: 0;
    transition: opacity 0.3s;
}
.imgTooltip:hover .imgTooltipContent {
    visibility: visible;
    opacity: 1;
    width: 40%;
    position:absolute;
}

.collapsible {
    background-color: #777;
    color: white;
    border: none;
}

.collapsibleContent {
    display: none;
    overflow: hidden;
}
</style>


<body>
  <div class="header"><center><a href="/"><h2><font color="#eeeeee">A Small Collection of Random Projects</font></h2></a></center></div>
  <div class="w3-sidebar w3-light-grey w3-bar-block sidebar">
    <div>
      <button class="w3-button w3-block w3-left-align"  onclick="accordionToggle('side-sec')"> Security <i class="fa fa-caret-right accordion-arrow"></i> </button>
      <div id="side-sec" class="w3-hide w3-white w3-card accordion">
        <a href="/sec/fuzz.html" class="w3-bar-item w3-button">Fuzzing</a>
        <a href="/sec/iota.html" class="w3-bar-item w3-button">IOTA Multisignature Problem</a>
      </div>
    </div>

    <div>
      <button class="w3-button w3-block w3-left-align"  onclick="accordionToggle('side-ctf')"> CTF Writeups <i class="fa fa-caret-right accordion-arrow"></i> </button>
      <div id="side-ctf" class="w3-hide w3-white w3-card accordion">
        <a href="/ctf/2017-GoogleCTF/inst_prof/" class="w3-bar-item w3-button">2017-GoogleCTF/inst_prof - Pwn</a>
        <a href="/ctf/2017-PlaidCTF/terebeep/" class="w3-bar-item w3-button">2017-PlaidCTF/terebeep - Misc</a>
        <a href="/ctf/2018-AsisCTF/myblog/" class="w3-bar-item w3-button">2018-AsisCTF/myblog - Pwn</a>
      </div>
    </div>

    <div>
      <button class="w3-button w3-block w3-left-align"  onclick="accordionToggle('side-chals')"> CTF Challenges <i class="fa fa-caret-right accordion-arrow"></i> </button>
      <div id="side-chals" class="w3-hide w3-white w3-card accordion">
        <a href="/chals/Hackover-2018/CloudNote/README.html" class="w3-bar-item w3-button">Hackover-2018/CloudNote - Pwn</a>
        <a href="/chals/MRMCD-2017/Covfefe/README.html" class="w3-bar-item w3-button">MRMCD-2017/Covfefe - Web</a>
      </div>
    </div>


    <div>
      <button class="w3-button w3-block w3-left-align" onclick="accordionToggle('side-sca')"> Side-Channel Attacks & SDR <i class="fa fa-caret-right accordion-arrow"></i> </button>
      <div id="side-sca" class="w3-hide w3-white w3-card accordion">
        <a href="/sca/introduction.html" class="w3-bar-item w3-button">Introduction</a>
        <a href="/sca/capture.html" class="w3-bar-item w3-button">Capture</a>
        <a href="/sca/openssl.html" class="w3-bar-item w3-button">OpenSSL</a>
        <a href="/sca/arduino.html" class="w3-bar-item w3-button">Arduino</a>
      </div>
    </div>

    <div>
      <button class="w3-button w3-block w3-left-align"  onclick="accordionToggle('side-phy')"> Physics <i class="fa fa-caret-right accordion-arrow"></i> </button>
      <div id="side-phy" class="w3-hide w3-white w3-card accordion">
        <a href="/phy/hv.html" class="w3-bar-item w3-button">High Voltage</a>
        <a href="/phy/vac.html" class="w3-bar-item w3-button">High Vacuum</a>
        <a href="/phy/iongun" class="w3-bar-item w3-button">Iongun</a>
      </div>
    </div>

    <div>
      <button class="w3-button w3-block w3-left-align" onclick="accordionToggle('side-misc')"> Misc <i class="fa fa-caret-right accordion-arrow"> </i></button>
      <div id="side-misc" class="w3-hide w3-white w3-card accordion">
        <a href="/misc/mandelbrot.html" class="w3-bar-item w3-button">4D Mandelbrot</a>
      </div>
    </div>
  </div>

  <div class="container content">
    {{ content }}
  </div>

  <script>
    //Side Bar Stuff
    function accordionGet() {
      var url = window.location.href.split("#")
      if (url.length > 1) return url[1].split(",");
      return [];
    }

    function accordionToggle(id) {
      var url = window.location.href.split("#")
      var elements = (url.length > 1) ? url[1].split(",") : [];
      elements = elements.filter(function (x) {return x != ""})
      if (elements.indexOf(id) == -1) elements.push(id)
      else elements = elements.filter(function (x) {return x != id})

      window.location.href = url[0] + "#" + elements.join(",");
      accordion();
    }

    function accordionUpdateLinks() {
      var url = window.location.href.split("#")
      var elements = (url.length > 1) ? url[1].split(",") : [];

      var links = document.getElementsByTagName("a");
      for (i=0; i<links.length; i++) 
        links[i].href = links[i].href.split("#")[0] + "#" + elements.join(",");

    }

    function accordion() {
      var elements = document.getElementsByClassName("accordion");

      for (var i=0; i < elements.length; i++) {
        var arrow = elements[i].parentElement.getElementsByClassName("accordion-arrow")[0];
        arrow.className = arrow.className.replace(" fa-caret-right", "");
        arrow.className = arrow.className.replace(" fa-caret-down", "");

        if (accordionGet().indexOf(elements[i].id) != -1) {
          elements[i].className += " w3-show";
          arrow.className += " fa-caret-down";
        } else {
          arrow.className += " fa-caret-right";
          while ( elements[i].className.indexOf(" w3-show") != -1)
            elements[i].className = elements[i].className.replace(" w3-show", "");
        }
      }
      accordionUpdateLinks();
    }
    accordion();

    //fix images without class name
    var images = document.getElementsByTagName("img");
    for (var i=0; i < images.length; i++)
      if (images[i].className == "")
        images[i].className = "imgCenter";


    //make images as link
    function makelink(classname) {
      var elements = document.getElementsByClassName(classname)
      for (var i=0; i<elements.length;i++) {
        var a = document.createElement('a');
        var par = elements[i].parentElement;
        a.href = elements[i].src;
        a.appendChild(elements[i]);
        par.appendChild(a);
      }
    }
    makelink("imgLeft");
    makelink("imgRight");
    makelink("imgCenter");

    //Link with image tooltip
    var a = document.getElementsByClassName("imgTooltip");
    for (var i = 0; i < a.length; i++) {
        var img = document.createElement('img');
        img.src = a[i].href;
        img.className = "imgTooltipContent";
        a[i].appendChild(img);
    };

    //collapsible
    var coll = document.getElementsByClassName("collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
      var content = this;
      while ((' '+content.className+' ').indexOf(' collapsibleContent ') == -1) {
        if (content.nextElementSibling == null) content = content.parentElement;
        else content = content.nextElementSibling;
      }
      if (content.style.display === "block") content.style.display = "none";
      else content.style.display = "block";
      });
    }
  </script>

</body>

</html>
